.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }